:root {
	--tecla-primary: hsl(150, 50%, 30%);
	--tecla-primary-on: white;
	--tecla-primary-brighter: hsl(150, 50%, 40%);
	--tecla-primary-darker: hsl(150, 50%, 20%);

	--tecla-secondary: hsl(20, 100%, 50%);
	--tecla-secondary-on: black;

	--tecla-gray-90: hsl(0, 0%, 90%);
	--tecla-gray-80: hsl(0, 0%, 80%);
	--tecla-gray-60: hsl(0, 0%, 60%);
	--tecla-gray-40: hsl(0, 0%, 40%);
	--tecla-gray-20: hsl(0, 0%, 20%);

	--tecla-surface: white;
	--tecla-surface-darker:	var(--tecla-gray-90);
	--tecla-surface-on: var(--tecla-gray-20);
	--tecla-border-color: var(--tecla-gray-40);

	--tecla-error: #700000;
	--tecla-error-on: white;

	--tecla-hue-available: 150;
	--tecla-hue-taken: 0;

	/* fibonacci: 2 3 5 8 13 21 34 55 89 */
	--tecla-spacing: 8px;
	--tecla-spacing-xs: 3px;
	--tecla-spacing-s: 5px;
	--tecla-spacing-m: 8px;
	--tecla-spacing-l: 13px;
	--tecla-spacing-xl: 21px;
	--tecla-spacing-xxl: 34px;
	--tecla-spacing-xxxl: 55px;
	--tecla-spacing-xxxxl: 89px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}
body {
	font-family: "Roboto", "Noto", sans-serif;
}

#topnav {
	background-color: var(--tecla-primary);
	color: var(--tecla-primary-on);
	padding: var(--tecla-spacing-m) var(--tecla-spacing-xl);
}

#topnav a,
#topnav a:visited {
	/* font-weight: bold; */
	color: var(--tecla-primary-on);
	margin-left: 2rem;
	text-decoration: none;
}

.fullwidth {
	width: 100%;
}

.button {
	border: none;
	display: inline-block;
	padding: var(--tecla-spacing-m) var(--tecla-spacing-xl);
	text-transform: uppercase;
	text-decoration: none;
	font: inherit;
	font-size: 1rem;
	border-radius: 2px;
	cursor: pointer;
	background-color: var(--tecla-gray-80);
	color: var(--tecla-gray-20);
}

[disabled] {
	cursor: not-allowed;
}

.primary {
	background-color: var(--tecla-primary);
	color: var(--tecla-primary-on);
}

.primary:hover {
	background-color: var(--tecla-primary-brighter);
}

.secondary {
	background-color: var(--tecla-secondary);
	color: var(--tecla-secondary-on);
}

.error {
	background-color: var(--tecla-error);
	color: var(--tecla-error-on);
}

.info {
	background-color: var(--tecla-gray-80);
}

.message {
	padding: 1rem;
	margin: 1rem 0;
	font-size: 80%;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: var(--tecla-spacing-xs);
	background-color: var(--tecla-surface);
	color: var(--tecla-surface-on);
}

label {
	font-family: "Roboto Condensed", inherit;
	font-size: 70%;
	text-transform: uppercase;
	color: var(--tecla-gray-60);
	display: block;
	margin-bottom: var(--tecla-spacing-s);
	margin-top: var(--tecla-spacing-l);
}

label[required]::after {
	content: " *";
}

select,
input,
textarea {
	font-family: inherit;
	border: none;
	background-color: var(--tecla-gray-90);
	padding: var(--tecla-spacing-s);
	margin: 0 0 var(--tecla-spacing-m, 0) 0;
	display: block;
}

.tecla-list {
	width: 100%;
	background-color: var(--tecla-surface);
	border-color: var(--tecla-border-color);
	border-width: 1px;
	border-style: solid;
	margin: var(--tecla-spacing) 0;
	padding: 0;
}

.tecla-list-item {
	list-style: none;
	padding: var(--tecla-spacing-s, 0);
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.tecla-list-item:hover {
	background-color: var(--tecla-gray-90);
}
.tecla-list-item:active {
	background-color: var(--tecla-primary);
	color: var(--tecla-primary-on);
}
.tecla-list-item a {
	text-decoration: inherit;
	color: inherit;
}
.tecla-list-item .second-line {
	font-size: 80%;
	color: var(--tecla-gray-60);
}

.tecla-list-item-icon {
	flex: 0 0 auto;
	width: 40px;
	height: 40px;
	margin: 4px 8px 4px 4px;
	border-radius: 50%;
}

.tecla-list-item-icon.small {
	width: 16px;
	height: 16px;
}

.tecla-list-item-content {
	flex: 1 1 auto;
}

tr.changed {
	background-color: var(--tecla-secondary);
	color: var(--tecla-secondary-on);
}

table.data-table {
	border-color: var(--tecla-border-color);
	border-width: 1px;
	border-style: solid;
}

table.data-table thead {
	background-color: var(--tecla-border-color);
	color: var(--tecla-surface);
}

table.data-table th,
table.data-table td {
	padding: var(--tecla-spacing);
}

table.data-table tbody tr {
	background-color: var(--tecla-surface);
	color: var(--tecla-surface-on);
}

table.data-table tbody tr:nth-child(even) {
	background-color: var(--tecla-surface-darker);
}

/* color scale per hour */
.available-00 {
	background-color: hsl(var(--tecla-hue-available), 100%, 90%);
}
.available-01 {
	background-color: hsl(var(--tecla-hue-available), 100%, 86.96%);
}
.available-02 {
	background-color: hsl(var(--tecla-hue-available), 100%, 83.91%);
}
.available-03 {
	background-color: hsl(var(--tecla-hue-available), 100%, 80.87%);
}
.available-04 {
	background-color: hsl(var(--tecla-hue-available), 100%, 77.83%);
}
.available-05 {
	background-color: hsl(var(--tecla-hue-available), 100%, 74.78%);
}
.available-06 {
	background-color: hsl(var(--tecla-hue-available), 100%, 71.74%);
}
.available-07 {
	background-color: hsl(var(--tecla-hue-available), 100%, 68.7%);
}
.available-08 {
	background-color: hsl(var(--tecla-hue-available), 100%, 65.65%);
}
.available-09 {
	background-color: hsl(var(--tecla-hue-available), 100%, 62.61%);
}
.available-10 {
	background-color: hsl(var(--tecla-hue-available), 100%, 59.57%);
}
.available-11 {
	background-color: hsl(var(--tecla-hue-available), 100%, 56.52%);
}
.available-12 {
	background-color: hsl(var(--tecla-hue-available), 100%, 53.48%);
}
.available-13 {
	background-color: hsl(var(--tecla-hue-available), 100%, 50.43%);
}
.available-14 {
	background-color: hsl(var(--tecla-hue-available), 100%, 47.39%);
}
.available-15 {
	background-color: hsl(var(--tecla-hue-available), 100%, 44.35%);
}
.available-16 {
	background-color: hsl(var(--tecla-hue-available), 100%, 41.3%);
}
.available-17 {
	background-color: hsl(var(--tecla-hue-available), 100%, 38.26%);
}
.available-18 {
	background-color: hsl(var(--tecla-hue-available), 100%, 35.22%);
}
.available-19 {
	background-color: hsl(var(--tecla-hue-available), 100%, 32.17%);
}
.available-20 {
	background-color: hsl(var(--tecla-hue-available), 100%, 29.13%);
}
.available-21 {
	background-color: hsl(var(--tecla-hue-available), 100%, 26.09%);
}
.available-22 {
	background-color: hsl(var(--tecla-hue-available), 100%, 23.04%);
}
.available-23 {
	background-color: hsl(var(--tecla-hue-available), 100%, 20%);
}
.taken-00 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 90%);
}
.taken-01 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 86.96%);
}
.taken-02 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 83.91%);
}
.taken-03 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 80.87%);
}
.taken-04 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 77.83%);
}
.taken-05 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 74.78%);
}
.taken-06 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 71.74%);
}
.taken-07 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 68.7%);
}
.taken-08 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 65.65%);
}
.taken-09 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 62.61%);
}
.taken-10 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 59.57%);
}
.taken-11 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 56.52%);
}
.taken-12 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 53.48%);
}
.taken-13 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 50.43%);
}
.taken-14 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 47.39%);
}
.taken-15 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 44.35%);
}
.taken-16 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 41.3%);
}
.taken-17 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 38.26%);
}
.taken-18 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 35.22%);
}
.taken-19 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 32.17%);
}
.taken-20 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 29.13%);
}
.taken-21 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 26.09%);
}
.taken-22 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 23.04%);
}
.taken-23 {
	background-color: hsl(var(--tecla-hue-taken), 100%, 20%);
}
